@tailwind base;
@tailwind components;
@tailwind utilities;
.o_font1 {
  font-family: "Montserrat Alternates", sans-serif;
}
.o_font2 {
  font-family: "Dancing Script", cursive;
}
.o_font3 {
  font-family: "Playfair Display", serif;
}
